<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.1">
  <servlet>
    <servlet-name>SimpleProxy</servlet-name>
    <servlet-class>SimpleProxyServlet</servlet-class>
    <init-param>
        <param-name>baseUrl</param-name>
        <param-value>https://cokapxt01a.kitchener.ca</param-value>
    </init-param>
    <init-param>
        <param-name>mapping.1.type</param-name>
        <param-value>prefix</param-value>
    </init-param>
    <init-param>
        <param-name>mapping.1.path</param-name>
        <param-value>/i/</param-value>
    </init-param>
    <init-param>
        <param-name>mapping.1.url</param-name>
        <param-value>${baseUrl}/i/</param-value>
    </init-param>
    <init-param>
        <param-name>mapping.2.type</param-name>
        <param-value>prefix</param-value>
    </init-param>
    <init-param>
        <param-name>mapping.2.path</param-name>
        <param-value>/apex/r/cityworks/datafm-app/</param-value>
    </init-param>
    <init-param>
        <param-name>mapping.2.url</param-name>
        <param-value>${baseUrl}/apex/r/cityworks/datafm-app/</param-value>
    </init-param>
    <init-param>
        <param-name>mapping.3.type</param-name>
        <param-value>contains</param-value>
    </init-param>
    <init-param>
        <param-name>mapping.3.path</param-name>
        <param-value>apex/wwv_flow.ajax?</param-value>
    </init-param>
    <init-param>
        <param-name>mapping.3.url</param-name>
        <param-value>${baseUrl}/apex/wwv_flow.ajax?</param-value>
    </init-param>
    <init-param>
        <param-name>mapping.4.type</param-name>
        <param-value>prefix</param-value>
    </init-param>
    <init-param>
        <param-name>mapping.4.path</param-name>
        <param-value>/kbigo/</param-value>
    </init-param>
    <init-param>
        <param-name>mapping.4.url</param-name>
        <param-value>${baseUrl}/kbigo/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleProxy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>